<h1> Table of Cities </h1>

<form class="form-inline" action="/cities" method="get">
  <div class="form-group mx-sm-3 mb-2">
     <%= text_field_tag "name", params[:name], placeholder: search_placeholder, class:"form-control" %> 
  </div>
  <button type="submit" class="btn btn-primary mb-2">Find</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>

      <th scope="col">
        NAME 
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to "\u2b07", cities_path(name: params[:name], order_by: "name", desc: "true"), class: "btn btn-secondary btn-sm" %>
          <%= link_to "\u2b06", cities_path(name: params[:name], order_by: "name"), class: "btn btn-secondary btn-sm" %>
        </div>
      </th>

      <th scope="col">
        POPULATION
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to "\u2b07", cities_path(name: params[:name], order_by: "population", desc: "true"), class: "btn btn-secondary btn-sm" %>
          <%= link_to "\u2b06", cities_path(name: params[:name], order_by: "population"), class: "btn btn-secondary btn-sm" %>
        </div>
      </th>

    </tr>
  </thead>  
  <tbody>
    <% @cities.each do |c|%>
      <tr>
        <th scope="row"> <%= c.id %> </th>
        <td> <%= c.name %> </td>
        <td> <%= c.population %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cities %>