<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/cities">
    <img src="city.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Cities
  </a>
</nav>